<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="orange" >
    
    <a href="/">Home</a>|
    <a href="/about">about us</a>|

    <a href="/update">update</a>|
    
    <a href="/contact">contact us</a>|
    <a href="/service">services</a>

    <hr size="4" color="blue">
    <h1>welcome to contact page
        <br>
        please contact with us
    </h1>

    <hr size="4" color="red">
    www.company data.com all right reserved 2024
    
</body>
</html>