<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="skyblue">
    
    <a href="/">Home</a>|
    <a href="/about">about us</a>|
    <a href="/contact">contact us</a>|
    <a href="/service">services</a>

    <hr size="4" color="green">
    <h1>welcome to service page<br>
        this is our service page
    </h1>

    <hr size="4" color="red">
    www.company data.com all right reserved 2024
    
</body>
</html>